<div class="sidenav">
  <ul class="sidenav-nav">
    <li>
      <span
        ><img src="../../../../assets/img/tina-icon.png" class="tina-icon-img"
      /></span>
    </li>
    <div class="sidenav-links">
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="sidenav-link-icon"
            ><img
              src="../../../../assets/img/home-icon.png"
              class="sidenav-link-icon-img"
          /></span>
          <span class="sidenav-link-text"> Home </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard/registration"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="sidenav-link-icon"
            ><img
              src="../../../../assets/img/registration-icon.png"
              class="sidenav-link-icon-img"
          /></span>
          <span class="sidenav-link-text"> Registration </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard/leads"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="sidenav-link-icon"
            ><img
              src="../../../../assets/img/leads-icons.png"
              class="sidenav-link-icon-img"
          /></span>
          <span class="sidenav-link-text"> Leads </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard/counselor"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="sidenav-link-icon"
            ><img
              src="../../../../assets/img/counselor-icon.png"
              class="sidenav-link-icon-img"
          /></span>
          <span class="sidenav-link-text"> Counselor </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard/admission"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="sidenav-link-icon"
            ><img
              src="../../../../assets/img/admission-icon.png"
              class="sidenav-link-icon-img"
          /></span>
          <span class="sidenav-link-text"> Addmission </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard/cohort"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="sidenav-link-icon"
            ><img
              src="../../../../assets/img/cohort-icon.png"
              class="sidenav-link-icon-img"
          /></span>
          <span class="sidenav-link-text"> Cohort </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard/student"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <span class="sidenav-link-icon"
            ><img
              src="../../../../assets/img/student-icon.png"
              class="sidenav-link-icon-img"
          /></span>
          <span class="sidenav-link-text"> Student </span>
        </a>
      </li>
    </div>
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        routerLink="/dashboard/enroll"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <span class="sidenav-link-icon"
          ><img
            src="../../../../assets/img/enroll-icon.png"
            class="sidenav-link-icon-img"
        /></span>
        <span class="sidenav-link-text"> How to enroll? </span>
      </a>
    </li>
  </ul>
</div>
